<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project X</title>
    
    <script type="module" crossorigin src="/static/js/index-42b1d028.js"></script>
    <link rel="stylesheet" href="/static/css/index-a31148d7.css">
  </head>
  <body>
    <h1>Введите имя и нажмите "Подтвердить"</h1>
    <input type="text" id="nameInput" placeholder="Введите ваше имя" />
    <button id="submitButton">Подтвердить</button>

    <h2>Список введенных имен:</h2>
    <ul id="nameList"></ul>

    <button id="showNamesButton">Кто тут был?</button>

    <!-- Добавленные кнопки для перехода -->
    <button id="registrationButton" onclick="redirectToRegistration()">Регистрация</button>
    <button id="loginButton" onclick="redirectToLogin()">Вход</button>
    <button id="uploaderButton" onclick="redirectToUploader()">Перейти к загрузчику</button>
    <!-- Вставленный скрипт -->
    <script>
        function redirectToRegistration() {window.location.href = '/registration';}
        function redirectToLogin() {window.location.href = '/login';}
        function redirectToUploader() {window.location.href = '/uploader';}
    </script>

    <script type="module" crossorigin src="/static/js/index-42b1d028.js"></script>
    <link rel="stylesheet" href="/static/css/index-a31148d7.css">
  </body>
</html>
