<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form id="registrationForm">
        <input type="text" id="username" placeholder="Имя пользователя" required><br>
        <input type="password" id="password" placeholder="Пароль" required><br>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/registration.js"></script>
</body>
</html>
