{% extends 'layout.html' %}

{% block content %}
<div class="container mt-3 mx-auto" style="max-width: 900px; ">
    <form id="fileForm" action="/uploadMessage" method="post" enctype="multipart/form-data">
        <div class="signature-files-container" id="signatureFilesContainer">
            <div class="signature-file-block bg-secondary bg-opacity-25 rounded p-1 m-1" data-file-index=0>
                <div class="row">
                    <div class="col-md-6 mb-0">
                        <label class="form-label">Файл на подпись:
                            <input type="file" class="form-control btn btn-primary" id="formFile1" name="file1"
                                accept=".pdf" />
                        </label>
                        <div class="form-check mb-1">
                            <label class="form-check-label">Добавить штамп (только для PDF файлов)
                                <input class="form-check-input addStampCheckbox" type="checkbox" id="addStamp1"
                                    name="addStamp1">
                            </label>
                        </div>
                        <div class="stamp-options" id="stampOptions" style="display: none;">
                            <div class="form-check">
                                <label class="form-check-label">Первая страница
                                    <input class="form-check-input" type="checkbox" name="firstPage1" id="firstPage1">
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">Последняя страница
                                    <input class="form-check-input" type="checkbox" name="lastPage1" id="lastPage1">
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">Все страницы
                                    <input class="form-check-input" type="checkbox" name="allPages1" id="allPages1">
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-label">Страницы по выбору:
                                    <input type="text" class="form-control" name="customPages1"
                                        placeholder="Введите номера страниц">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-0">
                        <label class="form-label">Выберите подпись, если файл подписан:
                            <input type="file" class="form-control btn btn-secondary" name="sig1" accept=".sig" />
                        </label>
                        <div class="text-end">
                            <button type="button" class="btn btn-danger btn-sm removeSignatureFileBlock"
                                data-file-index="1" style="height: fit-content;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="p-1 m-1">
            <button class="btn btn-primary addSignatureFileBtn mb-2 mt-2" type="button">Добавить еще файл на
                подпись</button>
            <div class="mb-2">
                <label class="form-label">Файлы, не требующие подписи:<br>
                    <input type="file" class="form-control btn btn-secondary" name="attachments" multiple />
                </label>
            </div>
            <div class="mb-2">
                <label class="form-label">Выберите подписанта:</label>
                <select class="form-select" name="judge" id="judgeComboBox" required>
                    {% for judge in judges %}
                    <option value="{{ judge.fio }}" {% if user.last_judge|string==judge.id|string %}selected{% endif %}>
                        {{ judge.fio }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="sendByEmail" id="sendByEmail">
                        <label class="form-check-label" for="sendByEmail">
                            Отправить по эл. почте
                        </label>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="sendToRosreestr" id="sendToRosreestr">
                        <label class="form-check-label" for="sendToRosreestr">
                            Отправить в Росреестр
                        </label>
                    </div>
                </div>
            </div>
            <div id="emailSection" class="mb-2" style="display: none;">
                <div class="tags-input-wrapper mb-2">
                    <div id="emailTags" class="tags-container">
                    </div>
                </div>
                <input type="email" id="emailInput" class="form-control"
                    placeholder="Введите адрес электронной почты и нажмите Enter">
                <input type="text" class="form-control mt-2" name="subject" placeholder="Тема письма">
                <textarea class="form-control mt-2" rows="3" name="body" placeholder="Текст письма"></textarea>
            </div>

            <button class="btn btn-primary p-2" type="submit" id="submitButton">Отправить письмо</button>
            <div class="spinner-border text-primary" role="status" id="loadingSpinner" style="display: none;"></div>
        </div>
    </form>
</div>
<script type="module" src="{{ 'js/index.js'|versioned_static }}"></script>
{% endblock content %}