{% extends 'layout.html' %}

{% block content %}
<div style="margin-top: 50px;">
    <form id="fileForm" action="/upload" method="post" enctype="multipart/form-data">
        <input class="btn btn-primary" type="file" name="file" id="fileInput" accept=".pdf" required/><br><br>
        <div class="form-group" style="width: 500px;">
            <label for="judgeComboBox">Выберите судью:</label>
            <select class="form-control" name="judge" id="judgeComboBox" required>
                {% for judge in judges %}
                    <option value="{{ judge.fio }}" {% if last_judge == judge.fio %}selected{% endif %}>{{ judge.fio }}</option>
                {% endfor %}
            </select>
        </div><br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sendToRosreestr" id="sendToRosreestr">
            <label class="form-check-label" for="sendToRosreestr">Отправить в Росреестр</label>
        </div><br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sendByEmail" id="sendByEmail">
            <label class="form-check-label" for="sendByEmail">Отправить по эл. почте</label>
        </div><br>

        <div id="emailSection" style="display: none;">
            <div class="form-group" style="width: 500px;">
                <label for="emailSection">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div><br>

            <button class="btn btn-secondary" id="addEmailBtn" type="button">Добавить еще email</button><br><br>
        </div>

        <button class="btn btn-primary" type="button" onclick="validateForm()">Отправить на подпись</button><br><br>
    </form>
</div>

<script>
        function validateForm() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

        var fileInput = document.getElementById('formFileMultiple');
        var fileSelected = fileInput.files.length > 0;

        if (atLeastOneChecked && fileSelected) {
            if (document.getElementById('sendByEmail').checked) {
                // Если чекбокс sendByEmail включен, проверяем, что хотя бы одно поле email заполнено
                var emailInputs = document.querySelectorAll('input[name="email"]');
                var atLeastOneEmailFilled = Array.from(emailInputs).some(emailInput => emailInput.value.trim() !== '');

                if (atLeastOneEmailFilled) {
                    document.getElementById("fileForm").submit();
                } else {
                    alert('Заполните хотя бы одно поле email!');
                }
            } else {
                document.getElementById("fileForm").submit();
            }
        } else {
            if (!fileSelected) {
                alert('Выберите хотя бы один файл!');
            } else {
                alert('Выберите хотя бы один чекбокс!');
            }
            // Здесь вы можете добавить код для обработки формы в случае, если не все необходимые поля заполнены
        }
    }
    document.getElementById('sendByEmail').addEventListener('change', function() {
        var emailSection = document.getElementById('emailSection');
        if (this.checked) {
            emailSection.style.display = 'block';
        } else {
            emailSection.style.display = 'none';
        }
    });

    document.getElementById('addEmailBtn').addEventListener('click', function() {
        var emailInput = document.createElement('input');
        emailInput.type = 'email';
        emailInput.className = 'form-control';
        emailInput.style='width: 500px';
        emailInput.name = 'email';
        emailInput.required = true;

        var addEmailBtn = document.getElementById('addEmailBtn');
        addEmailBtn.parentNode.insertBefore(emailInput, addEmailBtn);

        var br = document.createElement('br');
        addEmailBtn.parentNode.insertBefore(br, addEmailBtn);
    });
</script>

<div class="d-flex flex-column align-items-right flex-shrink-0 bg-body-tertiary" style="width: 800px;">
    <a class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Мои документы</span>
    </a>
    {% if user.files %}
{% for file in user.files %}
    <div class="list-group list-group-flush border-bottom scrollarea">
        <a class="list-group-item list-group-item-action py-2 lh-sm">
            <div class="row">
                <!-- Колонка для filenameUploaded -->
                <div class="col-md-6">
                    <strong class="mb-1">{{ file.filenameUploaded }}</strong>
                </div>

                <!-- Колонка для иконок -->
                <div class="col-md-6 text-right">
                    {% if file.toRosreestr %}
                        <img src="static/img/rosreestr-icon.png" alt="Rosreestr">
                    {% else %}
                        <img src="static/img/no-rosreestr-icon.png" alt="No Rosreestr">
                    {% endif %}

                    {% if file.toEmails %}
                        <img src="static/img/email-icon.png" alt="Email">
                    {% else %}
                        <img src="static/img/no-email-icon.png" alt="No Email">
                    {% endif %}

                    {% if file.reportData %}
                        <img src="static/img/report-icon.png" alt="Report">
                    {% else %}
                        <img src="static/img/no-report-icon.png" alt="No Report">
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    {% else %}
        <div class="list-group list-group-flush border-bottom scrollarea">
        <a class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Файлы отсутствуют</strong>
            </div>
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}