{% extends 'layout.html' %}

{% block content %}
<h2 style="margin-top: 15px;">Кабинет судьи</h2>
<select id="certificateSelector" class="form-select"></select>
<br>

<table class="table table-hover">
    <thead>
      <tr style="text-align: center;">
        <th scope="col" class="col-md-4 align-middle" style="text-align: left;">Название файла</th>
        <th scope="col" class="col-md-2 align-middle">Создан</th>
        <th scope="col" class="col-md-2 align-middle">Открыть файл</th>
        <th scope="col" class="col-md-2 align-middle">Открыть письмо</th>
        <th scope="col" class="col-md-2 align-middle">Подписать</th>
      </tr>
    </thead>
    <tbody>
     
    {% if files %}
    
        {% for file in files %}
            {% if file.sigNameUUID %}
            <tr class="table-success" style="text-align: center;" >
            {% else %}
            <tr class="table-warning" style="text-align: center;" >
            {% endif %}

            <th class="align-middle" scope="row" style="text-align: left;" >{{ file.fileName }}</th>

            <td class="align-middle" data-utc-time="{{ file.createDatetime.isoformat() }}">{{ file.createDatetime.strftime('%d.%m.%y %H:%M') }}</td>       

            <td class="align-middle">
                <a href="{{ url_for('views.get_file', file_id=file.id) }}" target="_blank">
                    <img src="static/img/file-icon.png" alt="OpenFile">
                </a>
            </td>  
            <td class="align-middle">
                <img src="static/img/email-icon.png" alt="OpenLetter" data-toggle="modal" data-message-id="{{ file.message_id }}" style="cursor: pointer;">
            </td>   

            <td class="align-middle"><button class="btn btn-primary btn-sign-file" data-file-id="{{ file.id }}" data-file-name="{{ file.fileName }}" {% if file.sigPath %}disabled{% endif %}>Подписать</button></td>
        {% endfor %}
         
    {% else %}
    <tr>
        <th scope="row">Сообщений нет</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>        
    </tr> 
    {% endif %}
    
</tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination">

      <li class="page-item {% if total_pages == 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.judge_cabinet', page=1, search=search_query) }}" tabindex="-1" aria-disabled="true">В начало</a>
      </li>
      <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.judge_cabinet', page=current_page-1 , search=search_query) }}" tabindex="-1" aria-disabled="true">Назад</a>
      </li>

      {% for page_num in range(start_index_pages, end_index_pages+1) %}
          <li class="page-item {% if page_num == current_page %}active{% endif %}">
              <a class="page-link" href="{{ url_for('views.judge_cabinet', page=page_num, search=search_query) }}">{{ page_num }}</a>
          </li>
      {% endfor %}

      <li class="page-item {% if current_page + 1 > total_pages %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.judge_cabinet', page=current_page+1 , search=search_query) }}" tabindex="-1" aria-disabled="true">Вперед</a>
      </li>
      <li class="page-item {% if total_pages == 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.judge_cabinet', page=total_pages , search=search_query) }}" tabindex="-1" aria-disabled="true">В конец</a>
      </li>
  </ul>
</nav>


<br><br><br>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Цветовая разметка</th>
        </tr>
        </thead>
    <tbody>
    <tr class="table-success">
      <th scope="row">Файл подписан</th>
    </tr>
    <tr class="table-warning">
      <th scope="row">Файл не подписан</th>
    </tr>
    </tbody>
  </table>
<script type="module" src="{{ url_for('static', filename='js/judgecabinet.js') }}"></script>
{% endblock content %}

