<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='js/frameworks/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/frameworks/bootstrap.bundle.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title if title else ' Project X '}}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="welcomeUser" href="/api/generate-api-key">Добро пожаловать, {{ user.fio }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Отправить письмо' else '' }}" id="home" href="/create_message">Отправить письмо</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Мои отправления' else '' }}" id="outbox" href="/outbox">Мои отправления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Архив' else '' }}" id="archive" href="/archive">Архив</a>
                </li>

                {% if config.tracking_path %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Отслеживание заказных писем' else '' }}" id="judgeCabinet" href="/tracking">Отслеживание заказных писем</a>
                </li>
                {% endif %}
                
                {% if user.has_role(2) %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Кабинет судьи' else '' }}" id="judgeCabinet" href="/judge_cabinet">Кабинет судьи</a>
                </li>
                {% endif %}
                {% if user.has_role(1) %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Кабинет ЭПР' else '' }}" id="eprCabinet" href="/epr_cabinet">Кабинет ЭПР</a>
                </li>
                {% endif %}
                {% if user.login == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Панель управления' else '' }}" id="adminPanel" href="/admin">Панель управления</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" id="logout" href="/logout">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Войти' else '' }}" id="login" href="/login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if title=='Зарегистрироваться' else '' }}" id="register" href="/register">Зарегистрироваться</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alert-dismissable fade show" role='alert'>
    {{ message }}
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show" role='alert'>
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container-fluid">{% block content %} {% endblock %}</div>
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationModalLabel">Разрешить уведомления</h5>
      </div>
      <div class="modal-body">
        Когда появится запрос, включите уведомления для получения сообщений по поступлении документов.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="enableNotificationsBtn">Хорошо</button>
      </div>
    </div>
  </div>
</div>

<script>
    const userId = '{{ user.id if user.is_authenticated else "" }}'; // Идентификатор пользователя
    const userFetchNotifications = '{{ user.has_role(2) if user.is_authenticated else 'False' }}' === 'True';

    // Запрос разрешения на показ уведомлений
    function requestNotificationPermission() {
        if (Notification.permission !== 'granted') {
            Notification.requestPermission().then(permission => {
                if (permission === 'granted') {
                    console.log('Permission granted');
                }
            });
        }
    }

    // Отправка уведомления
    function showNotification(message) {
        if (Notification.permission === 'granted') {
            new Notification('Новое уведомление', { body: message });
        }
    }

    // Функция для опроса сервера
    function fetchNotifications() {
        if (userId && userFetchNotifications) {
            fetch(`/api/get-notifications`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(notification => {
                        showNotification(notification); // Показать браузерное уведомление
                        console.log(notification);
                    });
                })
                .catch(error => console.error('Error fetching notifications:', error));
        }
    }

    // Опрос сервера каждые 1 минут (60000 миллисекунд)
    setInterval(fetchNotifications, 60000);

    // Начальный вызов для мгновенной проверки уведомлений при загрузке страницы
    fetchNotifications();

    // Показать модальное окно, если разрешение на уведомления не было предоставлено
    document.addEventListener('DOMContentLoaded', function() {
        if (Notification.permission !== 'granted') {
            $('#notificationModal').modal('show');
        }
    });

    // Обработчик для кнопки разрешения уведомлений
    document.getElementById('enableNotificationsBtn').addEventListener('click', function() {
        requestNotificationPermission();
        $('#notificationModal').modal('hide');
    });
</script>


</body>
</html>