{% extends 'layout.html' %}

{% block content %}
<br>
<form method="GET" action="{{ url_for('views.outbox') }}" class="form-inline mb-2" style="margin-top: 10px;user-select: text;">
  <div class="input-group">
      <input type="text" name="search" class="form-control rounded-0" placeholder="Поиск по теме" value="{{ search_query }}">
      <div class="input-group-append">
          <button type="submit" class="btn btn-primary rounded-0">Искать</button>
      </div>
  </div>
</form>


<table class="table table-hover">
    <thead>
      <tr style="text-align: center;">
        <th scope="col" class="col-md-4 align-middle" style="text-align: left;">Тема отправления</th>
        <th scope="col" class="col-md-2 align-middle">Вложений</th>
        <th scope="col" class="col-md-2 align-middle">Подписант</th>
        <th scope="col" class="col-md-2 align-middle">Время создания</th>
        <th scope="col" class="col-md-1 align-middle">Росреестр</th>
        <th scope="col" class="col-md-1 align-middle">Эл. почта</th>
        <th scope="col" class="col-md-1 align-middle">Печать отчета</th>
        <th scope="col" class="col-md-1 align-middle">Переслать</th>
      </tr>
    </thead>
    <tbody>
     
    {% if messages %}
    
        {% for message in messages %}
            {% if message.signed %}
            <tr class="table-success" style="text-align: center;" data-toggle="modal" data-target="#myModal" data-message-id="{{ message.id }}">
            {% else %}
            <tr class="table-warning" style="text-align: center;" data-toggle="modal" data-target="#myModal" data-message-id="{{ message.id }}">
            {% endif %}

            <th scope="row" style="text-align: left;" data-bs-toggle="tooltip" data-bs-html="true" data-bs-original-title="{{ message.mailBody | replace('\n', '<br>')}}">{{ message.mailSubject }}</th>

            {% if message.files %}
            <td data-bs-toggle="tooltip" data-bs-html="true" data-bs-original-title="{% for file in message.files %}{{ file.fileName }}<br>{% endfor %}">
                {{ message.files | length }}
            </td>
            {% else %}
            <td>0</td>
            {% endif %}

            <td>{{ message.sigBy }}</td>

            <td>{{ message.createDatetime.strftime('%d.%m.%y %H:%M') }}</td>

            {% if message.toRosreestr %}
            <td><img src="static/img/rosreestr-icon.png" alt="Rosreestr"></td>
            {% else %}
            <td><img src="static/img/no-rosreestr-icon.png" alt="No Rosreestr"></td>
            {% endif %}

            {% if message.toEmails %}
            <td><img src="static/img/email-icon.png" alt="Email" data-bs-toggle="tooltip" data-bs-html="true" data-bs-original-title="{{ message.toEmails | replace(';', '<br>') }}"></td> 
            {% else %}
            <td><img src="static/img/no-email-icon.png" alt="No Email"></td> 
            {% endif %}

            {% if message.reportDatetime %}
            <td>
                <a href="{{ url_for('views.get_report', message_id=message.id) }}" target="_blank">
                    <img src="static/img/report-icon.png" alt="Report">
                </a>
            </td>
            {% else %}
            <td><img src="static/img/no-report-icon.png" alt="No Report"></td>
            {% endif %}
            <td><img src="static/img/email-forward.png" style="text-align: center;" alt="Forward"></td>
        {% endfor %}
         
    {% else %}
    <tr>
        <th scope="row">Сообщений нет</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>        
        <td> </td>  
        <td> </td>  
        <td> </td>
    </tr> 
    {% endif %}
    
</tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination">

      <li class="page-item {% if total_pages == 0 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.outbox', page=1, search=search_query) }}" tabindex="-1" aria-disabled="true">В начало</a>
      </li>
      <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.outbox', page=current_page-1 , search=search_query) }}" tabindex="-1" aria-disabled="true">Назад</a>
      </li>

      {% for page_num in range(start_index_pages, end_index_pages+1) %}
          <li class="page-item {% if page_num == current_page %}active{% endif %}">
              <a class="page-link" href="{{ url_for('views.outbox', page=page_num, search=search_query) }}">{{ page_num }}</a>
          </li>
      {% endfor %}

      <li class="page-item {% if current_page + 1 > total_pages %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.outbox', page=current_page+1 , search=search_query) }}" tabindex="-1" aria-disabled="true">Вперед</a>
      </li>
      <li class="page-item {% if total_pages == 0 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('views.outbox', page=total_pages , search=search_query) }}" tabindex="-1" aria-disabled="true">В конец</a>
      </li>
  </ul>
</nav>


<br><br><br>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Цветовая разметка</th>
        </tr>
        </thead>
    <tbody>
    <tr class="table-success">
      <th scope="row">Отправлено успешно</th>
    </tr>
    <tr class="table-danger">
      <th scope="row">Ошибка при отправке</th>
    </tr>
    <tr class="table-warning">
      <th scope="row">Не подписано</th>
    </tr>
    </tbody>
  </table>

{% endblock content %}