{% extends 'layout.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Тема отправления</th>
      <th scope="col">Кому отправлено подпись</th>
      <th scope="col">Подписано</th>
      <th scope="col">В Росреестр</th>
      <th scope="col">На эл. почту</th>
      <th scope="col">Отчет об отправке</th>
    </tr>
    </thead>
    <tbody>
     
    {% if user.messages %}
    
        {% for message in user.messages %}
            {% if message.signed %}
            <tr class="table-success">
            {% else %}
            <tr class="table-warning">
            {% endif %}

            <th scope="row">{{ message.mailSubject }}</th>

            <td>{{ message.sigBy }}</td>

            {% if message.signed %}
            <td>Да</td>
            {% else %}
            <td>Нет</td>
            {% endif %}

            {% if message.toRosreestr %}
            <td><img src="static/img/rosreestr-icon.png" alt="Rosreestr"></td>
            {% else %}
            <td><img src="static/img/no-rosreestr-icon.png" alt="No Rosreestr"></td>
            {% endif %}

            {% if message.toEmails %}
            <td><img src="static/img/email-icon.png" alt="Email"></td> 
            {% else %}
            <td><img src="static/img/no-email-icon.png" alt="No Email"></td> 
            {% endif %}

            {% if report_exists(message.id) %}
            <td><img src="static/img/report-icon.png" alt="Report"></td>
            {% else %}
            <td><img src="static/img/no-report-icon.png" alt="No Report"></td>
            {% endif %}
            </tr>
        {% endfor %}
         
    {% else %}
    <tr>
        <th scope="row">Сообщений нет</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>        
        <td> </td>  
    </tr> 
    {% endif %}
    
</tbody>
</table>

<br><br><br>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Цветовая разметка</th>
        </tr>
        </thead>
    <tbody>
    <tr class="table-success">
      <th scope="row">Отправлено успешно</th>
    </tr>
    <tr class="table-danger">
      <th scope="row">Ошибка при отправке</th>
    </tr>
    <tr class="table-warning">
      <th scope="row">Не подписано</th>
    </tr>
    </tbody>
  </table>
{% endblock content %}