{% extends 'layout.html' %}
{% block content %}
<div class="mt-5 mx-auto" style="width: max-content;">
    <form method="post" action="/register">
        <h3 class="text-center">Регистрация пользователя</h3>
        <div class="mb-2"> <!-- Используйте mb-3 для отступа между полями формы -->
            <label for="login" class="form-label mb-0">Имя пользователя</label>
            <input type="text" class="form-control selectable" id="login" name="login" placeholder="Введите имя пользователя">
        </div>
        <div class="mb-2"> <!-- Используйте mb-3 для отступа между полями формы -->
            <label for="fio" class="form-label mb-0">ФИО</label>
            <input type="text" class="form-control selectable" id="fio" name="fio" placeholder="Введите ФИО">
        </div>
        <div class="mb-2">
            <label for="password1" class="form-label mb-0">Пароль</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Введите пароль">
        </div>
        <div class="mb-2">
            <label for="password2" class="form-label mb-0">Подтверждение пароля</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Введите пароль еще раз">
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock content %}